﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        var useShared = (typeof SharedWorker != 'undefined');
        var worker, tabId;

        function append(content) {
            $("#content").append(content + "<br/>");
        }

        $(document)
            .ready(function() {
                if (useShared) {
                    worker = (new SharedWorker("/Content/Worker.js", "shared-worker")).port;
                } else {
                    worker = new Worker("/Content/Worker.js");
                    $("#title").append("<span style='color: red'> - shared workers not supported</span>");
                }
                worker.onmessage = function(e) {
                    if (e.data.evt === "tabId") {
                        tabId = e.data.content;
                        $("#mytabid").text("My tab id: " + tabId);
                    } else if (e.data.evt === "ping") {
                        worker.postMessage({ cmd: "pong", tabId: tabId });
                    } else if (e.data.evt === "tabscount") {
                        $("#tabsopen").text("Tabs open: " + e.data.content);
                    } else if (e.data.evt === "ws-data") {
                        $("#lastNumber").text("Last number from the web socket: " + e.data.content);
                    } else {
                        append(e.data.content);
                    }
                };

                worker.onerror = function() {
                    append("*** WORKER ERROR");
                    worker = null;
                }

                if(useShared) worker.start();
            });
    </script>
}

<div class="jumbotron">
    <h1 id="title">Websockets test</h1>
    <h3 id="mytabid">My tab id: -</h3>
    <h3 id="tabsopen">Tabs open: -</h3>
    <h4 id="lastNumber">Last number from the web socket: -</h4>
    <button onclick="window.open(window.location, '_blank')">Moar tabs!</button>
    <div id="content" style="margin-top: 15px;"></div>
</div>
